<!DOCTYPE html>
<html>
  <head>
    <title>VueJS Course</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <div id="app" v-cloak>
      {{ fullName() }} <br/>
      {{ email }} <br />
      <p><a v-bind:href="url" target="_blank">Google</a></p>
      <hr />

      <label>First Name</label>
      <input type="text" v-model="firstName"/>

      <label>Last Name</label>
      <input type="text" v-model="lastName"/>
    </div>

    <!-- <div id="app2">
      {{ firstName }}
      {{ lastName }}
      {{ email }}
    </div> -->

    <script src="https://unpkg.com/vue@3"></script>
    <script src="app.js"></script>
  </body>
</html>
